[Desktop Entry]
Encoding=UTF-8
Name=HeelCoin
Comment=HeelCoin P2P Cryptocurrency
Comment[fr]=HeelCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HeelCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/HeelCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/HeelCoin;
Categories=Office;
